{% extends 'account_base.html' %} 

{% block account %}
    <a href="{% url 'authentication:client_detail' user.client.id %}" class="nav__link active-link">
{% endblock %}

{% block main %}
<div class="section container">

    {% block content %}
    <div class="section__title">
        <h3>DETAILS DE VOTRE COMPTE</h3>
    </div>

    <div class="account">

        <div class="account__container">
            <h4 class="account__title">Informations sur votre identité</h4>

            <div class="account__content">
                <div class="account__data">
                    <div class="account__data-subtitle" >Prénom.s</div>
                    <div class="account__data-value">{{client.user.first_name}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Nom</div>
                    <div class="account__data-value">{{client.user.last_name}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Email</div>
                    <div  class="account__data-value">{{client.user.email}}</div>
                </div>
                <div class="account__data" style="display: grid;">
                    <div class="account__data-subtitle">Mot de passe</div>
                    <a href="{% url 'authentication:password_change' %}" class="account__data-value" style="padding: 0.65rem;">Changer mon mot de passe</a>
                </div>

                <a href="{% url 'authentication:client_identity_information_update' user.id %}">
                    <button class="button form__button">
                        Editer ses informations d'identité
                    </button>
                </a>

            </div>

        </div>

        <div class="account__container">
            <h4 class="account__title">Informations Personnelles</h4>

            <div class="account__content">
                <div class="account__data">
                    <div class="account__data-subtitle">Sexe</div>
                    <div class="account__data-value">{{client.get_sex_display}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Date de Naissance</div>
                    <div class="account__data-value">{{client.date_of_birth}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Situation Matrimonial </div>
                    <div class="account__data-value">{{client.get_matrimonial_status_display}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Contact</div>
                    <div class="account__data-value">{{client.contact}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Profession </div>
                    <div class="account__data-value">{{client.profession}}</div>
                </div>

                <a href="{% url 'authentication:client_personal_information_update' user.client.id %}">
                    <button class="button form__button">
                        Editer ses informations personnelles
                    </button>
                </a>
                
            </div>
        </div>

        <div class="account__container">
            <h4 class="account__title">Localisation</h4>

            <div class="account__content">
                <div class="account__data">
                    <div class="account__data-subtitle">Pays </div>
                    <div class="account__data-value">{{client.country}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Ville </div>
                    <div class="account__data-value">{{client.city}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">Adresse </div>
                    <div class="account__data-value">{{client.address}}</div>
                </div>
                <div class="account__data">
                    <div class="account__data-subtitle">PINCODE </div>
                    <div class="account__data-value">{{client.pincode}}</div>
                </div>

                <a href="{% url 'authentication:client_address_update' user.client.id %}">
                    <button class="button form__button">
                        Editer son adresse
                    </button>
                </a>

            </div>

        </div>

    </div>
    {% endblock content %}
</div>
{% endblock %}