{% load i18n %}
{% autoescape off %}

{% blocktranslate %}Vous recevez ce email parce que vous avez fait une demande de réinitialisation du mot de passe de votre compte sur {{ site_name }}.{% endblocktranslate %}
	
{% translate "Veuillez cliquer le lien dessous pour réinitialiser votre de mot de passe" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Merci de faire confiance à GESPRO Consulting!" %}

{% blocktranslate %}La team GESPRO - CO{% endblocktranslate %}

{% endautoescape %}