{% extends 'authentication/login.html' %} 
{% load static %} 

{% block title %}
<title>Changer le Mot de Passe</title>
{% endblock title %} 

{% block content %}
<div class="account__form">
    <form action="{% url 'authentication:password_change' %}" method="POST">
        {% csrf_token %}

        <h3 class="form__title">Changer le mot de passe</h3>

        <p>Veuillez entrer votre ancien mot de passe, pour des raisons de sécurité, <br> 
        puis entrez votre nouveau mot de passe deux fois afin que <br>
        nous puissions vérifier que vous l'avez saisi correctement.</p>
        
        {{form.non_field_errors}}

        {% for field in form %}
        <div class="form__div">
                    {{field}}
                <label class="form__label">{{field.label}}</label>  
        </div>
        {{field.errors}}
        {% endfor %}
            
        <!--==================== BUTTONS ====================-->

        <div class="form__div multistep__form-div">
            <a href="{% url 'authentication:client_detail' user.client.id %}" class="button button__outlined">
                Annuler
            </a>
            <input type="submit" name="next" class="button" value="Changer">
        </div>

    </form>
</div>
{% endblock %}