{% extends 'authentication/login.html' %} 
{% load static %} 

{% block title %}
<title>Réinitialiser le Mot de Passe</title>
{% endblock title %}
      
  {% block content %}

    <form action="{% url 'authentication:password_reset' %}" method="POST" class="form">
        {% csrf_token %}

          <h3 class="form__title">Réinitialisation du mot de passe</h3>

          <p>Mot de passe oublié? Entrez votre adresse e-mail ci-dessous et nous vous y enverrons des instructions pour définir un nouveau mot de passe.</p> <br>

          {{form.non_field_errors}}

          {% for field in form %}
          <div class="form__div">
                    {{field}}
                  <label class="form__label">{{field.label}}</label>  
          </div>
          {{field.errors}}
          {% endfor %}
          
        <!--==================== BUTTONS ====================-->
          <div class="form__div multistep__form-div">
            <a href="{% url 'authentication:login' %}" class="button button__outlined">
              Annuler
            </a>
            <input type="submit" name="next" class="button" value="Changer">
          </div>
                
    </form>

  {% endblock %}
