{% extends 'authentication/login.html' %} 
{% load static %} 

{% block title %}
<title>Réinitialiser le Mot de Passe</title>
{% endblock title %} 

{% block content %}
<form method="POST" class="form">
  {% csrf_token %}

  {% if validlink %}

    <h3 class="form__title">Formulaire de réinitialisation du mot de passe</h3>

    <p>Veuillez entrer votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez saisi correctement.</p>

    {{form.non_field_errors}}

    {% for field in form %}
    <div class="form__div">
              {{field}}
            <label class="form__label">{{field.label}}</label>  
    </div>
    {{field.errors}}
    {% endfor %}

    <!--==================== BUTTONS ====================-->
    <div class="form__div multistep__form-div">
      <a href="{% url 'authentication:login' %}" class="button button__outlined">
        Annuler
      </a>
      <input type="submit" class="button" value="Changer">
    </div>

  {% else %}

  <p>
    "Le lien de réinitialisation est invalide, cela peut être dû au fait que le lien soit déjà utilisé. Veuillez en demander un nouveau. "
  </p>

  {% endif %}

</form>
{% endblock %}