
{% extends "index.html" %}
{% load humanize %}
{% block css %}
<!--=============== CinetPay Script ===============-->
<script src="https://cdn.cinetpay.com/seamless/main.js"></script>
<style>
    .sdk {
        display: block;
        position: absolute;
        background-position: center;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<script>

    

    // Retrieve values from reservation details
    var roomType = "{{reservation.room.room_type}}";
    var total_amount = parseInt("{{reservation.total_amount}}");
    var checkInDate = "{{reservation.check_in|date:'d M Y'}}";
    var checkOutDate = "{{reservation.check_out|date:'d M Y'}}";
    var totalDays = "{{reservation.total_days}}";
    var description = "{{reservation.room.name}}";
    var transaction_id = Math.floor(Math.random() * 100000000).toString()

    // Retrieve values from user details
    var customer_name = "{{reservation.room.guest.user.first_name}}";
    var customer_surname = "{{reservation.room..user.last_name}}";
    var customer_email = "{{reservation.room..user.email}}";
    var customer_phone_number = "{{reservation.room.guest.contact}}";
    var customer_address = "{{reservation.room.guest.address}}";
    var customer_city = "{{reservation.room.guest.city}}";
    var customer_country = "{{reservation.room.guest.country}}";
    var customer_zip_code = "{{reservation.room.guest.pincode}}";


    function checkout() {
        CinetPay.setConfig({
            apikey: '167837621065f9bc1762a003.17505002',
            site_id: '5867973',
            notify_url: 'https://miawoezon.com/payment/notification/',
            mode: 'PRODUCTION'
        });
        CinetPay.getCheckout({
            transaction_id: transaction_id, // YOUR TRANSACTION ID
            amount: parseInt(total_amount),
            currency: 'XOF',
            channels: 'ALL',
            description: 'Paiement pour ' + description,   
             //Fournir ces variables pour le paiements par carte bancaire
            customer_name: customer_name,
            customer_surname: customer_surname,
            customer_email: customer_email,
            customer_phone_number: customer_phone_number,
            customer_address : customer_address,
            customer_city: customer_city,
            customer_country : customer_country,
            customer_state : "",// le code ISO l'état
            customer_zip_code : customer_zip_code,

        });
        // CinetPay.waitResponse(function(data) {
        //     if (data.status == "REFUSED") {
        //         if (alert("Votre paiement a échoué")) {
        //             window.location.reload();
        //             
        //         }
        //     } else if (data.status == "ACCEPTED") {
        //         if (alert("Votre paiement a été effectué avec succès")) {
        //             window.location.reload();
        //             
        //         }
        //     }
        // });
        CinetPay.onError(function(data) {
            console.log(data);
        });
    }
</script>
{% endblock css %}
{% load static %}
{% block content %}

            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <div class="breadcrumbs-fs fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs fl-wrap"><a href="#">Accueil</a><a href="#">Pages</a><span>Booking Page</span></div>
                        </div>
                    </div>
                    <section class="middle-padding gre y-blue-bg">
                        <div class="container">
                            <div class="list-main-wrap-title single-main-wrap-title fl-wrap">
                                <h2>Reservation pour : <span>{{reservation.room.name}}</span></h2>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="bookiing-form-wrap">
                                        <!-- <ul id="progressbar">
                                            <li class="active"><span>01.</span>Personal Info</li>
                                            <li><span>01.</span>adresse de facturation</li>
                                            <li><span>02.</span>Mode de paiement</li>
                                            <li><span>03.</span>Confirmer</li>
                                        </ul> -->
                                        <!--   list-single-main-item -->
                                        <div class="list-single-main-item fl-wrap hidden-section tr-sec">
                                            <div class="profile-edit-container">
                                                <div class="custom-form">
                                                    <form id="billing-form" method="" action="">
                                                        {% csrf_token %}
                                                        <fieldset class="fl-wrap book_mdf">
                                                            <!-- Billing Address -->
                                                            <!-- Modify this section according to your billing address fields -->
                                                            <div class="list-single-main-item-title fl-wrap">
                                                                <h3>Adresse de facturation</h3>
                                                            </div>
                                                            <!-- Include billing address input fields here -->
                                                            <!-- Example: -->
                                                            <input type="text" name="country" placeholder="Pays" required>
                                                            <input type="text" name="city" placeholder="Ville" required>
                                                            <!-- <select name="country" required>
                                                                <option value="">Pays</option>
                                                                <option value="United States">United States</option>
                                                                <option value="New York" >New York</option>
                                                                <option value="London" >London</option>
                                                                <option value="Paris" >Paris</option>
                                                                <option value="Kiev" >Kiev</option>
                                                                <option value="Moscow" >Moscow</option>
                                                                <option value="Dubai" >Dubai</option>
                                                                <option value="Rome" >Rome</option>
                                                                <option value="Beijing" >Beijing</option>
                                                            </select> -->
                                                            <input type="text" name="address" placeholder="Adresse" required>
                                                            <!-- <input type="text" name="state" placeholder="State" required>
                                                            <input type="text" name="postal_code" placeholder="Postal Code" required> -->
                                                            <!-- Additional fields can be added as needed -->
                                                            <!-- End of Billing Address -->
                                                            <!-- <textarea name="notes" cols="40" rows="3" placeholder="Notes"></textarea> -->
                                                            <span class="fw-separator"></span>
                                                            <!-- <button type="submit" >Payment <i class="fal fa-angle-right"></i></button> -->
                                                            <a onclick="checkout()"  href="#"  class="action-button btn color2-bg no-shdow-btn">Confirmer et payer<i class="fal fa-angle-right"></i></a>
                                                            <div class="sdk">
                                                                
                                                            </div>
                                                            
                                                        </fieldset>
                                                    </form>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!--   list-single-main-item end -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-widget-item-header">
                                        <h3> Votre panier</h3>
                                    </div>
                                    <!--cart-details  --> 
                                    <div class="cart-details fl-wrap">
                                        <!--cart-details_header--> 
                                        <div class="cart-details_header">
                                            <a href="#"  class="widget-posts-img"><img src="{{reservation.room.first_photo}}" class="respimg" alt=""></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">{{reservation.room.name}}</a>
                                                <!-- <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div> -->
                                                <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> {{reservation.room.address}}, {{reservation.room.city}}-{{reservation.room.country.name}}</a></div>
                                            </div>
                                        </div>
                                        <!--cart-details_header end-->       
                                        <!--ccart-details_text-->          
                                        <div class="cart-details_text">
                                            <ul class="cart_list">
                                                <li>Type <span>{{reservation.room.room_type}} <strong>({{reservation.room.price|intcomma}} xof)</strong></span></li>
                                                <li>Date <span>{{reservation.check_in|date:"d M Y"}} - {{reservation.check_out|date:"d M Y"}}</span></li>
                                                <li>Jours<span>{{reservation.total_days}}</span></li>
                                                <li>Personnes <span>{{reservation.room.guests}}</span></li>
                                                <li>Sous Total <span><strong>{{reservation.subtotal|intcomma}} xof</strong></span></li>
                                                <li>Frais de service (3%) <span><strong>{{reservation.service_fees|floatformat:0|intcomma}} xof</strong></span></li>
                                                <!-- <li>Childs <span>1 <strong>-10%</strong></span></li> -->
                                                <!-- <li>Taxes And Fees <span><strong>$12</strong></span></li> -->
                                            </ul>
                                        </div>
                                        <!--cart-details_text end --> 
                                    </div>
                                    <!--cart-details end --> 
                                    <!--cart-total --> 
                                    <div class="cart-total">
                                        <span class="cart-total_item_title">Total</span>
                                        <strong>{{reservation.total_amount|floatformat:0|intcomma}} XOF</strong>                                
                                    </div>
                                    <!--cart-total end -->                             
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end -->
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->

{% endblock %}