{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Facture Miawoezon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/invoice.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <div class="invoice-box">
            <table  >
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="{% static 'images/logo.png' %}" style="width:150px; height:auto" alt="">
                                </td>
                                <td>
                                    Facture #: 25<br>
                                    Créé: January 1, 2019<br>
                                    Exigible: February 1, 2019
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Miawoezon , Inc.<br>
                                    Attiégou, Lomé-Togo<br>
                                    <a href="#"  style="color:#666; text-decoration:none">gakservices@gmail.com</a>
                                    <br>
                                    <a href="#" style="color:#666; text-decoration:none">+228 92 56 56 09</a>                                
                                </td>
                                <td>
                                    Jessie Manrty<br>
                                    <a href="#"  style="color:#666; text-decoration:none">gakservices@gmail.com</a>
                                    <br>
                                    <a href="#"  style="color:#666; text-decoration:none">+228 92 56 56 09</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading">
                    <td>
                        Mode de paiement
                    </td>
                    <td>
                        Vérifier #
                    </td>
                </tr>
                <tr class="details">
                    <td>
                        Fin de visa **** 4242
                    </td>
                    <td>
                        Vérifier
                    </td>
                </tr>
                <tr class="heading">
                    <td>
                        option
                    </td>
                    <td>
                        Détails
                    </td>
                </tr>
                <tr class="item">
                    <td>
                        Hôtel
                    </td>
                    <td>
                        Premium Plaza Hotel
                    </td>
                </tr>
                <tr class="item">
                    <td>
                        Type de chambre
                    </td>
                    <td>
                        Standard Family Room $81
                    </td>
                </tr>
                <tr class="item ">
                    <td>
                        Jours 
                    </td> 
                    <td>
                        3
                    </td>
                </tr>
                <tr class="item ">
                    <td>
                        Personnes
                    </td>
                    <td>
                        3
                    </td>
                </tr>
                <tr class="item last">
                    <td>
                        taxes
                    </td>
                    <td>
                        $12
                    </td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td style="padding-top:50px;"> 
                        Total: $690.00
                    </td>
                </tr>
            </table>
        </div>
        <a href="javascript:window.print()" class="print-button">Imprimez cette facture</a> 
    </body>
</html>